extends layout

append head
  link(rel="stylesheet" href="/stylesheets/list-detail.css")

block content
    .main

        .titleDiv
            h2= myList.name
            .buttons
                button(type="submit").buttonCSS
                    a(href="/") Add Movies
                form(action=`/my-lists/${myList.id}/delete`, method="post" class='deleteMyList' id=`myList_${myList.id}`)
                    button(type='submit' class='deleteMyListButton' value= `${myList.id}`).buttonCSS Delete List
        div.listsDiv
            each movie in myList.Movies
                div.movieCard
                    a(href=`/movies/${movie.id}` target="_blank")
                        img(src= movie.imageLink)
                    p= movie.title
                    form(action=`/my-lists/${myList.id}/movies/${movie.id}`, method="post")
                        button(type='submit').removeButton Remove From List
