extends layout

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/reviews.js" type="module" defer)

block content
    div.movieDetail
        h2= movie.title
        img(src= movie.imageLink)
        p= movie.movieRating
        p= movie.year
        p= movie.Genre.name
        p= movie.duration
    div.reviewDiv
        h2 Reviews
        form(action=`/movies/${movie.id}/addReview`, method="post" id='formReview')
            input(type="hidden", name="_csrf" value=csrfToken)
            label(for='title') Your Review:
            input(type="text" name="title" placeholder='Write your title here')
            textarea(name="content" placeholder='Write your review here')
            button(class='reviewSubmitButton' id=`${movie.id}`) Submit Review
        each review in reviews
            p= review.User.username
            p= review.title
            p= review.content
            //- p= 'test'
