extends layout

append head
    script(src="/javascripts/reviews.js" type="module" defer)
    link(rel="stylesheet" href="/stylesheets/reviews.css")
    link(rel="stylesheet" href="/stylesheets/movie-detail.css")

block content
    div.movieDetail
        div.mainInfo
            h2= movie.title
            img(src= movie.imageLink)
        div.movieDetailInfo
            div.movieDetailData
                p= movie.movieRating
                p= movie.year
                p= movie.Genre.name
                p= movie.duration
                p= movie.plot
                button
                    a(href=`/my-lists/add-movie/${movie.id}`) Add to My List

    div.reviewDiv
        h2 Reviews
        if locals.authenticated && !userHasReview
            form( action=`/movies/${movie.id}/addReview`, method="post" class='formReview' id=`${movie.id}`)
                input(type="hidden", name="_csrf" value=csrfToken)
                label(for='title') Your Review:
                input(type="text" name="title" placeholder='Write your title here')
                textarea(name="content" placeholder='Write your review here')
                button(class='reviewSubmitButton') Submit Review
        div.reviews
            each review in reviews
                div.reviewCard(id=`reviewCard_${review.id}`)
                    p= review.User.username
                    p= review.title
                    p= review.content
                    if locals.authenticated
                        if locals.user.id === review.userId
                            form(action=`/movies/reviews/${review.id}/delete`, method="post" class='deleteForm' id=`review_${review.id}`)
                                button(type='submit' class='deleteReviewButton' value= `${review.id}`) Delete
